---
name: zcu208_template_adc
board: boards/zcu208/
version: 0.1.1

cores:
  - fpga/cores/axi_ctl_register_v1_0
  - fpga/cores/axi_sts_register_v1_0
  - boards/zcu208/cores/multi_tile_sync_v1_0
  - boards/zcu208/cores/exdes_tddrtsctrl_v1_0
  - fpga/cores/tlast_gen_v1_0

memory:
  - name: control
    offset: '0xA4001000'
    range: 4K
  - name: status
    offset: '0xA4002000'
    range: 4K
  - name: dma_c0
    offset: '0xA4006000'
    range: 4K
  - name: dma_c1
    offset: '0xA4004000'
    range: 4K
  - name: rfip
    offset: '0xA4005000'
    range: 4K
      #  - name: ddr4_0
      #    offset: '0x400000000'
      #    range: 4G
      #  - name: ddr4_1
      #    offset: '0x1000000000'
      #    range: 4G

control_registers:
  - led

status_registers:
  - forty_two
  - adc_clk[4]
  - dac_clk[4]
  - adc_sample[8]

parameters:
  fclk0: 250000000 # FPGA clock speed in Hz

xdc:
  - ./../../../boards/zcu208/config/ports.xdc 
  - ./constraints.xdc

drivers:
  - server/drivers/common.hpp
  - ./led_blinker.hpp

web:
  - ./web/index.html
  - web/koheron.ts
  - web/led-blinker.ts
  - ./web/app.ts
  - web/main.css
